/*onLoad Section*/
.overlay {
	width: 100%;
	height: 100%;
	color: #fff;
	background: #6D969C;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1000;
	display: none;
	overflow: hidden;
}
.overlay > .content {
    position: absolute;
    width: 100%;
    height: 50%;
    text-align: center;
}
#modal-title {
    margin-top: 60px;
    font-size: 60px;
    text-align: center;
}
.typeahead {
    color: white;
	font-size: 20px;
	width: 500px;
	text-align: center;
	background-color: transparent;
	border-style: none none solid none;
	border-color: white;
}
#whatBuilding {
    margin-top: 10%;
    margin-bottom: 10px;
}
#whatFloor {
   margin-top: 7%; 
}

#buildingOptions, #floorOptions {
    background-color: transparent;
    color: white;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    z-index: 700;
    /*margin-left: 33%;*/
}
#buildingOptions > li, #floorOptions > li {
    padding: 5px;
    list-style: none;
    border-radius: 2px;
    cursor: pointer;
}
#buildingOptions > li:hover, #floorOptions >li:hover {
    background-color: rgba(255,255,255,.1);
}
#OKButton {
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid white;
    height: 60px;
    width: 300px;
    margin-top: 30px;
}
#OKButton:hover {
    background-color: rgba(255,255,255,.1);
}

/*Menu Section*/
#menu {
    position: fixed;
     z-index: 700;
     background-color: black;
     width: 100%;
     height: 30px;
}
#menu-list {
   margin-top: 0px;
    list-style: none;  
}
#menu-list > li {
    display: inline-block;
    padding: 5px;
}
#image_coords_click, #image_coords_now {
    height: 10px;
    font-size: 11px;
    color: white;
}
.activeFeature {
    background-color: gray;
}

#showFeature > p {
    color: white;
}

/*Canvas/Blueprint Section*/
#myCanvas{
    background-image: url('../images/mockfloorplan.png');
    height: 1550px;
    width: 1500px;
    background-repeat: no-repeat;
    margin:0;
    padding:0;
    position: relative;
}

.info {
  background-color: rgba(0, 0, 0, .8);
  color: white;
  padding: .3em;
  font-size: .8em;
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
}

.info::first-line {
   font-weight: bold;   
}

#prompts {
    background-color: black;
    color: white;
    height: 60px;
    width: 60%;
    position: fixed;
    margin-left: 350px;
}

#inputID {
	color: white;
	font-size: 12px;
	width: 300px;
	text-align: center;
	background-color: transparent;
	border-style: none none solid none;
	border-color: white;
}

#inputAccess {
    color: white;
	font-size: 12px;
	width: 100px;
	text-align: center;
	background-color: transparent;
	border-style: none none solid none;
	border-color: white;
}

#inputID:focus, #inputAccess:focus #whatFloor:focus, #whatBuilding:focus, #whatFloor:focus {
	outline: none;	
}
::-webkit-input-placeholder {
   color: white;
}
:-moz-placeholder {
   color: white;  
}
::-moz-placeholder {
   color: white;  
}
:-ms-input-placeholder {  
   color: white;  
}